In [2]:
import pandas as pd
import numpy as np
import pickle
import pandas
from scipy.io import readsav
import pyreadstat

In [3]:
filepath_v2 = '/Users/wdhakouani/code/MadMax1995bb/powder_alert2.0/raw_data/Alternative_data_v2.csv'
filepath_v3 = '/Users/wdhakouani/code/MadMax1995bb/powder_alert2.0/raw_data/Alternative_data_v3_Davos.csv'

In [4]:
csv_file = filepath_v2
df_alt2 = pd.read_csv(csv_file)
df_alt2.tail(3)

,Unnamed: 0,datum,station_code,sector_id,warnreg,elevation_station,forecast_initial_date,forecast_end_date,dangerLevel,elevation_th,...,ssi_pwl,sk38_pwl,sn38_pwl,ccl_pwl,ssi_pwl_100,sk38_pwl_100,sn38_pwl_100,ccl_pwl_100,Pen_depth,min_ccl_pen
292834,292834,2020-05-04,SHE2,1213.0,21.0,1900.0,2020-05-04 17:00:00,2020-05-05 17:00:00,2.0,1800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292835,292835,2020-05-04,ELS2,1231.0,21.0,2100.0,2020-05-04 17:00:00,2020-05-05 17:00:00,2.0,1800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292836,292836,2020-05-04,LAU2,1222.0,21.0,2000.0,2020-05-04 17:00:00,2020-05-05 17:00:00,2.0,1800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
csv_file = filepath_v3
df_alt3 = pd.read_csv(csv_file, delimiter=';')
df_alt3.tail(3)

,no,date_release,snow_type,trigger_type,max_elevation_m,min_elevation_m,aspect_degrees,length_m,width_m,perimeter_length_m,area_m2,aval_size_class,weight_AAI,max.danger.corr
13915,13916,2019-05-07,dry,HUMAN,2589.0,2567.0,307.0,36.0,14.0,82.0,340.0,1,0.01,2.0
13916,13917,2019-05-07,wet,HUMAN,2572.0,2532.0,80.0,65.0,25.0,150.0,1044.0,2,0.10,2.0
13917,13918,2019-05-27,wet,NATURAL,2559.0,2524.0,80.0,56.0,42.0,156.0,1308.0,2,0.10,NaN